p{
    color: rgb(199, 199, 255);
    background-color: blue;
    border: solid 3px black;
    margin-top: 150px;
    margin-left: 500px;
    margin-right: 544px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: x-large;
}